<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Map</title>
    <style>
        /* * {
            margin: 0;
            padding: 0;
        } */
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <!-- The div element for the map -->
    <div id="map"></div>
    <!-- Include the main.js file -->
    <script src="/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGiuA9tp6RdD4No9aEzZ438n38NyMIN7M&callback=initMap"></script>
</body>
</html>
