body {
    padding: 20px;
    background-color: #1e2952; /* Dark Blue Background Color */
    color: white; /* White Text Color */
}

.navbar {
    background-color: #364f8a; /* Darker Blue Background Color */
}

.navbar-brand {
font-size: 24px;
}

.navbar-toggler {
color: white;
}

.navbar-nav .nav-link {
font-size: 18px;
color: white;
padding: 12px 20px;
}

.navbar-nav .nav-link:hover {
color: #ffd700; /* Yellow on hover (adjust as needed) */
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #364f8a; /* Darker Blue Background Color */
    color: white; /* White Text Color */
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffd700; /* Yellow on hover (adjust as needed) */
    color: #1e2952; /* Dark Blue Text Color */
  }

#map {
    height: 450px;
    width: 100%;
    margin-bottom: 20px;
}

.weather-info, .latest-news {
    background-color: #364f8a; /* Darker Blue Background Color */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.weather-info img {
    max-width: 100%;
    height: auto;
}

.latest-news h2 {
    font-size: 24px; /* Larger Font Size for Article Titles */
    color: white; /* White Text Color */
}

.article-list {
    list-style-type: none;
    padding: 0;
}

.article-item {
    margin-bottom: 10px;
}

.article-link {
    color: white; /* White Text Color */
    text-decoration: none;
    font-weight: bold;
}

.article-link:hover {
    color: hotpink;
}